name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - uses: pnpm/action-setup@v4
        name: Install pnpm and dependencies
        with:
          run_install: true

      - name: Prettier
        run: pnpm format:check

      - name: Typechecking
        run: pnpm types

    outputs:
      status: ${{ job.status }}